.offerContent {
  width: 100%;
  flex-grow: 1;
}

.offerContent h1 {
  text-align: left;
  color: #070046;
  font-weight: 400;
  padding-left: 80px;
  font-size: 2rem;
}

.ourServices {
  display: grid;
  grid-template-columns: repeat(3, 550px);
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.ourService {
  background: #f6f6f6;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding-bottom: 24px;
  width: 90%;
  flex-grow: 1;
}

.ourService img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.ourService .bold {
  font-weight: 700;
  font-size: 1rem;
  color: #181c5a;
  text-align: center;
  margin: 0;
  padding: 0;
}

.ourService p {
  font-size: 0.8rem;
  color: #222;
  text-align: center;
  flex-grow: 1;
}

.ourService button {
  background: #1a3cff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: none;
  align-self: center;
}

.ourService button:hover {
  background: #0f2bb8;
}

.ourService:hover {
  box-shadow: 0 2px 12px 0 rgba(24, 28, 90, 0.07);
}

.boxContent {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 2px 12px 0 rgba(232, 236, 255);
  position: relative;
  z-index: 1;
  flex-grow: 1;
  padding: 20px;

  h5 {
    white-space: pre-line;
  }
}

@media (max-width: 1400px) {
  .offerContent {
    max-width: 1200px;
    padding: 0 16px 48px 16px;
  }
  .ourServices {
    gap: 24px;
  }
  .ourService {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 1000px) {
  .ourServices {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 4px 32px 4px;
  }
}

@media (max-width: 700px) {
  .ourServices {
    grid-template-columns: 1fr;
  }
  .offerContent {
    padding: 0 4px 32px 4px;
    h1 {
      text-align: center;
    }
  }
  .ourService {
    padding-left: 8px;
    padding-right: 8px;
  }
}
